// "^0.1.2" = "Allow updates within the same minor version (since major = 0). 0.1.2 -> 0.1.x but not 0.2.0"
// "~0.1.2" = "Allow patch updates within the same minor version. 0.1.2 -> 0.1.x but not 0.2.0"
// "==0.1.2" = "static version. 0.1.2 -> 0.1.2 (no updates)"
// "*" = "Allow any version (latest available)"
// ">=0.1.2" = "Allow any version greater than or equal to 0.1.2"
// ">=0.1.2 <=2.0.0" = "Allow any version greater than or equal to 0.1.2 or less than or equal to 2.0.0"
// "0.1.2" = "Treat as an exact version (same as ==0.1.2)"
// "%master#bb12dab974a310b737acbaa6649cc2f2f8f8455f" = "Track the latest commit on the 'master' branch (used for Git dependencies, not SemVer)."
// "==%master#bb12dab974a310b737acbaa6649cc2f2f8f8455f" = "A static commit on the 'master' branch (used for Git dependencies, not SemVer)."
// "#tag_name" = "A static release with non-SemVer based name like 'tag_name' branch (used when package is not using SemVer but names of tags)."

.{
    .zigp_zon_version = "1",
    .zigp_version = "0.0.0",
    .zig_version = "0.15.2",
    .last_updated = "",
    .dependencies = .{
        .capy = .{
            .owner_name = "capy-ui",
            .repo_name = "capy",
            .provider = .GitHub,
            .version = "%master#bb12dab974a310b737acbaa6649cc2f2f8f8455f",
        },
        .zap = .{
            .owner_name = "zigzap",
            .repo_name = "zap",
            .provider = .GitHub,
            .version = "^0.11.0",
        },
        .zorsig = .{
            .owner_name = "rohanvashisht1234",
            .repo_name = "zorsig",
            .provider = .GitHub,
            .version = "#asdasdasd",
        },
    },
}
